resources:
# Master HTTPS backend
- name: {{ env['deployment'] }}-master-https-health-check
  type: compute.v1.healthCheck
  properties:
    description: 'HTTPS health check of OpenShift master instances'
    checkIntervalSec:   5
    timeoutSec:         5
    unhealthyThreshold: 2
    healthyThreshold:   2
    type: HTTPS
    httpsHealthCheck:
      port:        {{ properties['openshift_master_api_console_port'] }}
      portName:    openshift-api-console
      requestPath: /healthz
      proxyHeader: NONE
- name: {{ env['deployment'] }}-master-https-lb-backend-service
  type: compute.v1.backendService
  properties:
    description: 'OpenShift masters HTTPS backend'
    backends:
    - group: $(ref.{{ env['deployment'] }}-master-group.instanceGroup)
      balancingMode:  UTILIZATION
      maxUtilization: 0.8
    healthChecks:
    - $(ref.{{ env['deployment'] }}-master-https-health-check.selfLink)
    timeoutSec: 300
    protocol: HTTPS
    portName: openshift-api-console
    loadBalancingScheme: EXTERNAL

# Master HTTPS router
- name: {{ env['deployment'] }}-master-https-lb-url-map
  type: compute.v1.urlMap
  properties:
    description: 'OpenShift masters HTTPS routing rules'
    defaultService: $(ref.{{ env['deployment'] }}-master-https-lb-backend-service.selfLink)
#TODO SSL certificate
- name: {{ env['deployment'] }}-master-https-lb-target-proxy
  type: compute.v1.targetHttpsProxy
  properties:
    description: 'OpenShift masters target HTTPS proxy'
    urlMap: $(ref.{{ env['deployment'] }}-master-https-lb-url-map.selfLink)
    sslCertificates:
    - projects/{{ env['project'] }}/global/sslCertificates/ocp-master-https-lb-cert

# Master HTTPS frontend
{% if properties['openshift_master_https_lb_reserve_ip'] %}
- name: {{ env['deployment'] }}-master-https-lb-ip
  type: compute.v1.globalAddress
  properties:
    description: 'IP address of OpenShift masters load balance'
    addressType: EXTERNAL
    ipVersion:   IPV4
{% endif %}
- name: {{ env['deployment'] }}-master-https-lb-forwarding-rule
  type: compute.v1.globalForwardingRule
  properties:
    description: 'OpenShift masters HTTPS frontend'
    {% if properties['openshift_master_https_lb_reserve_ip'] %}
    IPAddress:  $(ref.{{ env['deployment'] }}-master-https-lb-ip.selfLink)
    {% endif %}
    IPProtocol: TCP
    portRange:  443
    target: $(ref.{{ env['deployment'] }}-master-https-lb-target-proxy.selfLink)
    loadBalancingScheme: EXTERNAL
