resources:
- name: {{ env['deployment'] }}-infra-node-template
  type: compute.v1.instanceTemplate
  properties:
    description: 'OpenShift template for Infra nodes'
    properties:
      tags:
        items:
        - openshift
        - openshift-node
        - openshift-infra-node
      machineType: {{ properties['openshift_infra_machine_type'] }}
      networkInterfaces:
      - network: $(ref.{{ env['deployment'] }}-network.selfLink)
        accessConfigs:
        - name: External NAT
          type: ONE_TO_ONE_NAT
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        initializeParams:
          sourceImage:  projects/centos-cloud/global/images/family/centos-7
          diskSizeGb:   {{ properties['openshift_infra_boot_disk_size'] }}
          diskType:     pd-standard
        autoDelete: true
      - deviceName: docker
        type: PERSISTENT
        boot: false
        initializeParams:
          sourceImage:  $(ref.{{ env['deployment'] }}-empty-image.selfLink)
          diskSizeGb:   {{ properties['openshift_infra_docker_disk_size'] }}
          diskType:     pd-ssd
        autoDelete: true
      - deviceName: openshift
        type: PERSISTENT
        boot: false
        initializeParams:
          sourceImage:  $(ref.{{ env['deployment'] }}-empty-image.selfLink)
          diskSizeGb:   {{ properties['openshift_infra_openshift_disk_size'] }}
          diskType:     pd-ssd
        autoDelete: true
      metadata:
        items:
        - key: user-data
          value: |
            {{ imports['infra-nodes.cloudinit'] | indent(12) }}
      serviceAccounts:
      - scopes:
        - https://www.googleapis.com/auth/cloud.useraccounts.readonly
        - https://www.googleapis.com/auth/compute
        - https://www.googleapis.com/auth/devstorage.read_write
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/monitoring.write
        - https://www.googleapis.com/auth/service.management.readonly
        - https://www.googleapis.com/auth/servicecontrol
      scheduling:
        onHostMaintenance: MIGRATE
        automaticRestart: true
        preemptible: false
    metadata:
      dependsOn:
      - {{ env['deployment'] }}-network
      - {{ env['deployment'] }}-empty-image
- name: {{ env['deployment'] }}-infra-node-group
  type: compute.v1.regionInstanceGroupManager
  properties:
    description: 'OpenShift instance group of Infra nodes'
    region: {{ properties['region'] }}
    instanceTemplate: $(ref.{{ env['deployment'] }}-infra-node-template.selfLink)
    baseInstanceName: {{ env['deployment'] }}-infra-node
    targetSize: {{ properties['openshift_infra_instance_group_size'] }}
